/**
 * Page block header
 */

.page-block-header {
  position: relative;
  min-height: 2rem;
  border: 1px #eee solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
}

.page-block-header-content {
  width: calc(100% - 150px);
  display: flex;
  flex-wrap: wrap;
}

.page-block-header:hover {
  cursor: move;
}

.page-block-header__title {
  margin-left: 1rem;
  line-height: 1.3;
  width: calc(100% - 200px);
}

.page-block-header__title b {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.page-block-header__thumbnail {
  width: 180px;
  height: 90px;
  object-fit: cover;
}

/**
 * Utils
 */
.page-block-utils {
  width: 140px;
}

.page-block-utils__delete {
  cursor: pointer;
  color: red;
}

.page-block-utils__collapse {
  padding: 0 1rem;
  display: inline-block;
  cursor: pointer;
}

/**
 * Page block
 */
.page-block {
  background: #eee;
}

.page-block .page-block-utils__collapse .icon {
  transform: rotate(90deg);
}

.page-block--collapsed .page-block-utils__collapse .icon {
  transform: rotate(0);
}

.page-block--collapsed .page-block__content {
  max-height: 0;
  overflow-y: hidden;
  padding: 0;
}

.page-block__content textarea {
  min-height: 15rem;
}

/**
 * Page block content
 */
.page-block__content {
  max-height: auto;
  padding: 0.5rem;
  border: 1px #eee solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-block__content .postbox {
  width: calc(50% - 0.5rem);
  height: 0%;
}

/**
 * Container
 */
.pageblock-container {
  padding: 1rem 0;
}

.pageblock-container-header {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
}

.pageblock-container-header select {
  margin-left: 0.5rem;
}

/**
 * Sortable placeholder
 */
.sortable-placeholder {
  background: #eee;
  border: 1px #999 dashed;
  min-height: 2.5rem;
}
